<launch>
    <!-- note that value doesn't matter; ie starter works for robc and rafael -->
    <node name = "starter" pkg = "nascar_race" type = "starter.py" output = "screen">
        <param name = "turtlebot" type = "string" value = "robc"/>
    </node>
    
    <node name = "rafael_line_follower" pkg = "nascar_race" type = "line_follower.py" output = "screen">
        <param name = "turtlebot" type = "string" value = "rafael"/>
    </node>
    
    <!-- <node name = "rafael_overtake" pkg = "nascar_race" type = "overtake.py" output = "screen">
        <param name = "turtlebot" type = "string" value = "rafael"/>
    </node> -->

    <!-- <node name = "rafael_overtake" pkg = "nascar_race" type = "vis_ovt_raf.py" output = "screen">
        <param name = "turtlebot" type = "string" value = "rafael"/>
    </node> -->

    <!-- <node name = "rafael_lap_counter" pkg = "nascar_race" type = "lapcounter.py" output = "screen">
        <param name = "turtlebot" type = "string" value = "rafael"/>
    </node> -->


</launch>