<launch>

    <node name = "robc_line_follower" pkg = "nascar_race" type = "line_follower.py" output = "screen">
        <param name = "turtlebot" type = "string" value = "robc"/>
    </node>
    
    <!-- <node name = "robc_lap_counter" pkg = "nascar_race" type = "lapcounter.py" output = "screen">
        <param name = "turtlebot" type = "string" value = "robc"/>
    </node> -->
    
    <!-- <node name = "robc_overtake" pkg = "nascar_race" type = "vis_ovt_robc.py" output = "screen">
        <param name = "turtlebot" type = "string" value = "rafael"/>
    </node> -->

    <node name = "robc_info_panel" pkg = "nascar_race" type = "info_panel_2.py" output = "screen">
        <param name = "turtlebot" type = "string" value = "robc"/>
    </node>
    

</launch>